@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Azeret Mono", monospace;
}
/* nav bar start here  */
/* header{
    width: 1440px;
    height: 652px;
} */
header .nav h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
header .nav .btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
/* line-height: 33px; */
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
padding: 17px 24px 17px 24px;
/* width: 228px;
height: 58px; */
}
header .nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 38px;
}
header .profile{
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    /* position: absolute; */
}
header .profile img{
    margin-top: 26px;
    margin-bottom: 32px;
    width: 240.28px;
    height: 240px;
}
header .profile h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
header .profile p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
header .profile button{
    border-radius: 8px;
background: rgb(13, 19, 33);
padding: 21px 24px 21px 24px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}